name: Lint

on:
  push:
    branches:
      - main
    paths:
      - "**.py"
      - "**/pyproject.toml"
  pull_request:
    paths:
      - "**.py"
      - "**/pyproject.toml"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.13", "3.14"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Install dependencies
        run: uv sync --locked --all-extras --all-groups --no-install-package vapoursynth

      - name: Run Ruff check
        id: ruff-check
        run: uv run --no-sync ruff check .

      - name: Run Ruff format
        id: ruff-format
        if: success() || (failure() && steps.ruff-check.conclusion == 'failure')
        run: uv run --no-sync ruff format --check --diff

      - name: Running mypy
        if: success() || (failure() && (steps.ruff-check.conclusion == 'failure' || steps.ruff-format.conclusion == 'failure'))
        run: uv run --no-sync mypy .

      - name: Post webhook for failure
        if: failure()
        uses: Jaded-Encoding-Thaumaturgy/discord-failure-notifier@v1
        with:
          webhook-url: ${{ secrets.WEBHOOK_URL }}
